body {
  font-family: sans-serif;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

#results td, #results th {
  border: solid lightgrey 1px;
}

#results th {
  padding: 10px;
}

#results {
  border-collapse: collapse;
}

.result {
  width: 120px;
  height: 70px;
  font-family: monospace;
  font-weight: bold;
}

#spinner {
  width: 40px;
  height: 40px;
}

.green {
  background-color: #b3d2ff;
}

.blue {
  background-color: #c5ffb3;
}
